{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Cambia Password</h2>
    <form method="POST">
        <div class="form-group">
            <label for="new_password">Nuova Password</label>
            <input type="password" class="form-control" id="new_password" name="new_password" required>
        </div>
        <div class="form-group">
            <label for="confirm_password">Conferma Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
        </div>
        <div class="d-flex align-items-center mt-3">
            <button type="submit" class="btn btn-primary">Cambia Password</button>
            {% if utenti.ruolo == 'Venditore' %}
                <a href="{{ url_for('venditore.home') }}" class="btn btn-secondary ml-3">Torna alla home</a>
            {% elif utenti.ruolo == 'Acquirente' %}
                <a href="{{ url_for('acquirente.home') }}" class="btn btn-secondary ml-3">Torna alla home</a>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
